<%- include('./includes/head') %>
  <%- include("./includes/nav") %>
    <div class="container">
      <div class="col-lg-2"></div>

      <h1>Error 404</h1>
      <p>The page you are looking for not exists</p>

    </div>

    <div class="col-lg-2"></div>
    </div>

    <%- include('./includes/footer') %>